.sun_in_blue_sky {
  background-image: url('/images/skyOnly.jpg');
}

.sun_in_clouds {
  background-image: url('/images/sunInClouds1.jpg');
  background-position: 0% -8rem;
}

.night_sky_clear {
  background-image: url('/images/nightSky1.jpg');
}

.background_image_cover {
  background-size: cover;
  background-repeat: no-repeat;
}
