.sun_in_blue_sky {
  background-image: url('/images/sunInblueSky5x2.png');
  background-repeat: no-repeat;
  background-size: 100% 95%;
  background-position: 50% 0%;
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
}

.sun_in_clouds {
  background-image: url('/images/sunInClouds1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
