.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opactiy-zero {
  opacity: 0;
}

.icon-wrapper {
  width: 6rem;
  height: 6rem;
  background-color: rgba(173 , 216 ,230, .4);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.FSxl {
  font-size: var(--FSxl)!important;
}
.FSlg {
  font-size:var(--FSlg)!important;
}
.FSml {
  font-size: var(--FSml)!important;
}
.FSmd {
  font-size:var(--FSmd)!important;
}
.FSsm {
  font-size:var(--FSsm)!important;
}
.FSxs {
  font-size:var(--FSxs)!important;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.btn_nostyle {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none;
}

.icon {
  font-size: 4rem;
}

.icon_small {
  font-size: 3rem;
}

.icon,
.icon_small {
  color: var(--blue-400);
  font-weight: bold;

}

.invisible {
  visibility: hidden;
}

.error {
  color: red;
  white-space: nowrap;
}

.half_circle {
  width: 0;
  height: 0;
  border-top: 100vh solid transparent;
  border-right: 100vw solid #F00;
  border-bottom: 100vh solid transparent;
}

.purple-text {
  color: purple;
}

.row_reverse {
  flex-direction: row-reverse;
}

.truncate_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.brown {
  background-color: rgba(165,42,42, 1)
}

.white-text {
  color: white;
}

.blue-text {
  color: #2e5984;
}

.yellow {
  background-color: rgb(255,255,0);
}

.yellow_opa100 {
  background-color: rgba(255,255,0,1);
}
.yellow_opa75 {
  background-color: rgba(255,255,0,.75);
}
.yellow_opa50 {
  background-color: rgba(255,255,0,.5);
}
.yellow_opa375 {
  background-color: rgba(255,255,0,.375);
}
.yellow_opa25 {
  background-color: rgba(255,255,0,.25);
}
