.component_wrapper {
  min-height: 67vh;
  border: 2px solid yellow;
  position: relative;
}

.current_temp {
  text-align: center;
  font-size: 7rem;
}

.section_day_place {
  padding: 5rem 0 5rem 0;
  border: 3px solid red;
}

.title {
  text-align: center;
  font-size: 3rem;
  border: 1px solid teal;
}

.weather_cards_wrapper {
  border: 2px solid pink;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  min-height: 120px;

  display: flex;
  justify-content: space-between;
}

.weather_cards_wrapper__second_child {
  border: 2px solid green;
  transform: translateY(-2rem);
}
