
.formError {
  margin: .375rem auto;
  text-align: center;
  max-width: 64%;
}

.main {
  /* margin: 1.5rem 0 0 0; */
}

.search_bar_wrapper {
  position: relative;
  width: 72%;
  margin: 0 auto;
  height: 2.75rem;
  overflow: hidden;
  display: flex;
  background: var(--input-gradient-toside);
  background-color: white;
  border-radius: 20px;
  /* border: 4px solid silver; */
  outline: 3px solid white;
}

.magGlass_btn {
  margin: 0 .5rem .2rem auto;
  width: 48px;
  height: 70%;
  align-self: center;
  position: relative;

}

.magGlass {
  object-fit: contain;
  background: none;

}

.search_bar_input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 0 0 1rem;
  margin: 0;
  border: none;
  flex-grow: 2;
  background-color: none;
  text-align: center;
  text-transform: uppercase;
}

.search_bar_input::placeholder {
  text-align: center  ;
  transform: translate(-.5rem, -1px);
}

.search_bar_input,
.magGlass {
  opacity: .75;
  outline: none;

}

.search_bar_wrapper:hover,
.search_bar_wrapper:focus {
  opacity: 1;
  background-color: white;
  /* border: 4px solid silver; */
  outline: 3px solid rgba(255,255,0,1);
}

.title {
  text-align: center;
  padding: 5%;
}

.use_city_and_state_button {
  background-color: red;
  position: absolute;
  left: 0;
  min-height: var(--headline-button-offset);
  min-width: 9rem;
  top: calc(-1 * var(--headline-button-offset));
}

.zip_code_text_input_label {
  text-align: center;
  display: block;
}

.zip_code_text_input {
  margin: 5% auto 5% auto;
  display: block;
}

.get_my_weather_button_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
