.mini_card_wrapper {
  border: 2px solid blue;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-width: 118px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mini_card_wrapper * {
  color: white;
}

.section_icon {
  height: 4.25rem;
  width: 4.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section_time_descriptor {
  padding: .75rem 0;
}
