.app_wrapper {
  background-image: url('/images/background-1.avif');
  min-height: var(--fullscreen-height);
  background-size: cover;
  padding: 0;
}

.component_wrapper {
  margin: auto;
  min-height: var(--fullscreen-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.component {
  width: 100%;
  min-height: var(--fullscreen-height);
  position: relative;
  overflow: hidden;
}

.sun_circle_outer {
  width: 135%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  transform: translate(-13.1%, 55%);
  background: radial-gradient(rgb(0,106,182), lightblue);
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sun_circle_inner {
  width: 78%;
  height: 88%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
