.app_wrapper {
  background-image: url('/images/background-1.avif');
  background-size: cover;
  padding: 0;
  position: relative;
  overflow: hidden;
  min-height: var(--fullscreen-height);
}

.component_wrapper {
}

.component {
  width: 100%;
  min-height: var(--fullscreen-height);
}

.sun_circle_outer {
  width: 135%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  transform: translate(-13.1%, 57.5%);
  /* background: radial-gradient(rgb(0,106,182), lightblue); */
  /* overflow: hidden; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.sun_circle_inner {
  width: 78%;
  height: 88%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
